# Current version
qed/qed_version.py

# Install
dist/
build/
*.egg-info/

# Coverage
.coverage
covhtml/

# Docs
docs/_build/

# IPython
.ipynb_checkpoints/

# Misc
.pre-commit-config.yaml
.antlr/
__pycache__/
.DS_Store
.vscode/
tests/latex/*
!tests/latex/ms.tex
!tests/latex/Makefile
